target/
build/
out/

.idea/
*.iml
*.iws
*.ipr

.vscode/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.DS_Store
Thumbs.db
Desktop.ini

*.log
spring.log
*.tmp
*.swp
*.swo
*.orig

HELP.md
